*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}
#container{
    transform: translate(60px,50px);
}
#image1{
    display: inline-block;
}

#container #image1 .num1{
    font-size: 18px;
    margin: 5px 0;
}
#container #image2 {
    transform: translateX(70px);
    display: inline-block;
}
#container #image2 .num2{
    font-size: 18px;
    margin: 5px 0;
}

#container #image3{
    display: inline-block;
    transform: translate(140px, -37px);
}
#container #image3 .num3{
    position: absolute;
    display: block;
     font-size: 18px;
    margin: 5px 0;
 }
 /* i had a prob with the last list so i've add this code */
 #container #image3 .prob1{
   transform: translateY(37px);
 }
.list{
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    margin-left: 10px;
}
.navbar-form{
    position: absolute;
    right: 0;
}
#myList li {
    list-style: none;
 }
 #myList li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 8px;
    letter-spacing: 2px;
    font-size: 12px;
    background-color: rgb(246, 246, 246);
    display: block;
    padding: 5px 10px;
    position: relative;
    margin-left: -40px;
   
}
 #myList li a:hover{
     background-color: hsl(0, 3%, 43%);
     cursor: pointer;
     transition: .5s;
     color: rgb(238, 238, 238);
 }
 /* to use the z-index you need to put first the position absolute or relative or fixed*/
 #myList{
     display: none;
     position: absolute;
     z-index: 1 ;
     transform: translateX(137px);
    
 }
 .glyphiconContainer a :nth-child(1):hover{
    color: yellow;
 }