#container{
    margin-left: 60px;
}
#container #vegi{
    margin: 30px 40px;
}
#vegi{
    display: inline-block;
}
h2{
    text-align: center;
}
.list{
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    transform: translateY(50px);
}
.navbar-form{
    position: absolute;
    right: 0;
}
 #myList li {
    list-style: none;
 }
 #myList li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 8px;
    letter-spacing: 2px;
    font-size: 12px;
    background-color: rgb(246, 246, 246);
    display: block;
    padding: 5px 10px;
    position: relative;
    margin-left: -40px;
   
}
 
 #myList li a:hover{
     background-color: hsl(0, 3%, 43%);
     cursor: pointer;
     transition: .5s;
     color: rgb(238, 238, 238);
 }
 
 #myList{
     display: none;
 } 
 .num1{
    position: absolute;
    transform: translate(100px , -250px);
    font-size: 18px;
 }
 .num2{
    position: absolute;
    transform: translate(490px , -250px);
    font-size: 18px;
 }
 .num3{
    position: absolute;
    transform: translate(880px , -250px);
    font-size: 18px;
 }
 .glyphiconContainer a :nth-child(1):hover{
    color: yellow;
 }